@using System.Globalization
@using IdleFactory.Game.Modules
@using IdleFactory.Util
@using Microsoft.Extensions.Localization
@rendermode InteractiveServer
@inject IStringLocalizer<Resources> Localizer
@inject ICookie cookie
@inherits BaseRefreshablePage

@if (notify.IsValid())
{
    <div>
        <text>@Utils.GetFormattedTime(notify.timeStamp) - @Utils.DynamicStringFormat(Localizer[notify.notifyString], Utils.TryLocalizeArg(notify.parameters))</text>
    </div>
}


@code
{
    NotifyItem notify;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        StartTimer(1);
    }

    protected override void OnTimer(object? state)
    {
        base.OnTimer(state);
        notify = Utils.GetModule<NotificationModule>().GetCurNotify();
        SafeStateHasChanged();
    }
}