@page "/Buildings"
@using IdleFactory.Game.Building.Base
@using IdleFactory.Modules
@using IdleFactory.State
@using IdleFactory.Util
@using Microsoft.Extensions.Localization
@rendermode InteractiveServer
@inherits BaseRefreshablePage
@inject IStringLocalizer<Resources> Localizer
@inject NavigationManager NavigationManager

<h3>@Localizer["str.building"]</h3>

@foreach (var building in buildings)
{
    <p>@Localizer[building.ID]
        <button class="btn btn-primary"
                @onclick="() => {OnDetailClick(building);}"> @Localizer["str.buildingDetail"]</button>
        <button class="btn btn-primary"
                @onclick="() => {building.Retrieve(); SafeStateHasChanged();}"> @Localizer["str.buildingRetrieve"]</button>
    </p>
}

@code {
    List<BuildingBase> buildings = SingletonHolder.GetSingleton<GameStateHolder>().GetAllBuildingsPlaced();

    protected override void OnInitialized()
    {
        base.OnInitialized();
        StartTimer(3);
    }

    protected override void OnTimer(object? state)
    {
        base.OnTimer(state);
        buildings = SingletonHolder.GetSingleton<GameStateHolder>().GetAllBuildingsPlaced();
        SafeStateHasChanged();
    }

    private void OnDetailClick(BuildingBase build)
    {
        var buildIndex = build.GetIndex();
        NavigationManager.NavigateTo($"/{build.DetailSubPath}/{buildIndex}");
    }
}