@page "/ChestDetail/{buildingIndex}"
@using IdleFactory.Game.Building
@using IdleFactory.Util
@using Microsoft.Extensions.Localization
@using IdleFactory.Components.Components
@rendermode InteractiveServer
@inherits BaseRefreshablePage

@inject IStringLocalizer<Resources> Localizer
@inject NavigationManager NavigationManager

<BuildingBaseHead Building="building"/>

@if (building != null)
{
    <div class="container">
        <div class="row">
            @Localizer["str.input"]
            @for (int i = 0; i < building.GetMachineContainer().GetInputSlots().Length; i++)
            {
                <div class="row">
                    <SlotComponent slot="@(building.GetMachineContainer().GetInputSlots()[i])"/>
                </div>
            }
        </div>
    </div>
}
else
{
    <p>Building not found.</p>
}
<hr class="hr" />
@code {
    [Parameter] public string buildingIndex { get; set; }

    private Chest? building;

    protected override void OnInitialized()
    {
        StartTimer(1);
        building = Utils.GetBuildingWithIndex(int.Parse(buildingIndex)) as Chest;
        base.OnInitialized();
    }

    protected override void OnTimer(object? state)
    {
        base.OnTimer(state);
        SafeStateHasChanged();
    }
    
}